<!DOCTYPE html>
<html lang="en">
<head>
  <title>Western Massachusetts COVID Counts</title>
  <meta charset="utf-8">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="Automatically-updated plot of cases" />
  <meta name="twitter:title" content="Confirmed COVID cases, Western Massachusetts">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: white;
      color: black;
      padding: 15px;
    }

      .row.content {height: auto;} 
    }
  </style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-57735520-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-57735520-5');
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.1/d3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.15/c3.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.15/c3.min.css">


</head>
<body>

<div class="container-fluid">
  <div class="alert alert-primary" role="alert">
  Updated NOW 
  </div>
</div>

<div class="container-fluid">

  <div class="row content">

    <div class="col-sm-12">
            <div class="d-flex justify-content-center">
              <div class="text-center" style="height:50px, width:100%">Confirmed COVID cases by county, Western Mass</div>
              <div style="max-width: 500px;margin:auto" id="chart"></div>
              <div style="max-width: 500px;margin:auto;padding-left:50px" class="text-center"> 
                <img style="width:100px" src="counties_key.png" class="img-fluid" alt="Responsive image">
              </div>
            </div>
    </div>
  </div>
</div>





<script type="text/javascript">
    var chart = c3.generate({
         bindto: '#chart',
        data: {
            x: 'x',
    //        xFormat: '%Y%m%d', // 'xFormat' can be used as custom format of 'x'
            columns: [
                DATES,
                BERKSHIRE,
                HAMPDEN,
                FRANKLIN,
                HAMPSHIRE
            ]
        },
        axis: {
            x: {
                type: 'timeseries',
                label: {'text':'Date','position': 'outer-center'},
                tick: {
                    format: '%b-%-d',
                    count:8
                }
            },
            y: {
                type: 'log',
                min: 0,
                padding: 0,
                label: {'text':'Confirmed cases (log scale)','position': 'outer-left'},
                tick: {
                    values: [0, 10, 100, 1000]
                }
            },
        }
});
</script>

<script type="text/javascript">
  
  

 d3.select(".c3-axis-y-label").attr("dx", "-30px")

</script>


<div class="container-fluid">

  <div class="row content">

    <div class="col-sm-4">
    </div>
    

    <div class="col-sm-4">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Berkshire</th>
              <th scope="col">Franklin</th>
              <th scope="col">Hampden</th>
              <th scope="col">Hampshire</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">CURRENT</th>
              <td>CA</td>
              <td>CB</td>
              <td>CC</td>
              <td>CD</td>
            </tr>
            <tr>
              <th scope="row">PREV</th>
              <td>PA</td>
              <td>PB</td>
              <td>PC</td>
              <td>PD</td>
            </tr>
            <tr>
              <th scope="row">7-day growth rate</th>
              <td>7A</td>
              <td>7B</td>
              <td>7C</td>
              <td>7D</td>
            </tr>
          </tbody>
        </table>
    </div>

<div class="col-sm-4">
</div>

</div>

</div>


<footer class="container-fluid">
    <div class="row content text-center">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        <p>This site displays <a href="https://github.com/nytimes/covid-19-data">COVID data</a> from the <a href="https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html">New York Times</a>, based on reports from state and local health agencies. Consider <a href="https://www.nytimes.com/subscription">subscribing to the paper</a> to support the journalists who gathered this information.</p>
        <p>
          You can support local COVID reporting by subscribing to the <a href=https://www.gazettenet.com/>Daily Hampshire Gazette</a>/<a href="https://www.recorder.com/">Greenfield Recorder</a>.
        </p> 
        <p>Contact <a href="http://www.abehandler.com/">Abe Handler</a> with questions or comments. Supporting code <a href="https://github.com/AbeHandler/CovidDataMA">here</a>.</p>
        <p> Get the <a href="https://s3.amazonaws.com/www.wmasscovid.com/wmass.csv">underlying data</a>.</p> 
        </p>
        </div>
        <div class="col-sm-2"></div>
    </div>
</footer>

</body>
</html>
